* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.btn,
span {
  box-shadow: 0px 0px 3px #000;
}

.btn:hover {
  box-shadow: 0px 0px 10px #ccc;
}

.row::before, .row::after {
  content: "";
  display: table;
  clear: both;
}

.row [class*="col-"] {
  float: left;
}

.row .col-1 {
  width: 8.33%;
}

.row .col-2 {
  width: 16.66%;
}

.row .col-3 {
  width: 25%;
}

.row .col-4 {
  width: 33.33%;
}

.row .col-5 {
  width: 41.66%;
}

.row .col-6 {
  width: 50%;
}

.row .col-7 {
  width: 58.33%;
}

.row .col-8 {
  width: 66.66%;
}

.row .col-9 {
  width: 75%;
}

.row .col-10 {
  width: 83.33%;
}

.row .col-11 {
  width: 91.66%;
}

.row .col-12 {
  width: 100%;
}

body {
  text-align: center;
  background-color: #ccc;
  color: #5b62a5;
  background-image: url(/images/rock-paper-scissors-1238146.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

section {
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.6);
  margin-top: 20px;
  border: 3px solid #555;
  box-shadow: 0px 0px 10px #000;
  border-radius: 20px;
  padding: 20px;
}

section div .score-index {
  font-size: 2em;
  color: #ccc;
}

section div .score-index > div > div {
  display: inline;
}

section div .score-index span {
  display: inline-block;
  min-width: 50px;
  color: #fff;
  padding: 5px;
  background-color: #000;
  border-radius: 50px;
}

section div .btn {
  display: inline-block;
  color: #fff;
  padding: 11px 50px;
  max-width: 100%;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  margin: 0 10px;
  border-radius: 4px;
  transition: color .3s, background-color .3s;
  cursor: pointer;
  outline: 0 !important;
  text-decoration: none;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-transform: capitalize;
}

section div #button-rock {
  background-color: #a7202c;
  border: 2px solid #a7202c;
}

section div #button-rock:hover, section div #button-rock:active {
  color: #a7202c;
  background-color: #fff;
}

section div #button-paper {
  background-color: #cdc818;
  border: 2px solid #cdc818;
}

section div #button-paper:hover, section div #button-paper:active {
  color: #cdc818;
  background-color: #fff;
}

section div #button-scissors {
  text-align: center;
  background-color: #5b62a5;
  border: 2px solid #5b62a5;
}

section div #button-scissors:hover, section div #button-scissors:active {
  color: #5b62a5;
  background-color: #fff;
}

section div #button-start {
  text-align: center;
  background-color: #02ac46;
  border: 2px solid #02ac46;
}

section div #button-start:hover, section div #button-start:active {
  color: #02ac46;
  background-color: #fff;
}

section div form > div:first-of-type {
  display: inline-block;
  color: white;
  line-height: 15px;
}

section div form #rounds-to-win {
  color: #000;
  padding: 11px 1px;
  max-width: 100%;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
}

section div form input[type=number] {
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
          appearance: textfield;
  margin: 0;
}

section div form input[type=number]::-webkit-inner-spin-button, section div form input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

section #output {
  color: #fff;
}

section #result {
  font-size: 2em;
  color: #fff;
  text-align: left;
}

section #result span:first-child {
  min-width: 50px;
  display: inline-block;
  text-align: center;
  color: #02ac46;
  padding: 5px;
  background-color: #000;
  border-radius: 50px;
}

section #result span:last-child {
  min-width: 50px;
  display: inline-block;
  text-align: center;
  color: #a7202c;
  padding: 5px;
  background-color: #000;
  border-radius: 50px;
}

.output {
  min-height: 120px;
}

.output span {
  color: #000;
  padding: 4px;
  border-radius: 5px;
  background-color: #ccc;
}

.output #rock {
  color: #fff;
  background-color: #a7202c;
}

.output #paper {
  color: #000;
  background-color: #cdc818;
}

.output #scissors {
  color: #fff;
  background-color: #5b62a5;
}

.output #player {
  color: #fff;
  background-color: #02ac46;
}

.output #computer {
  color: #fff;
  background-color: #a7202c;
}

@media (max-width: 1000px) {
  .container {
    width: 95%;
  }
  body {
    text-align: center;
    background-color: #ccc;
    color: #5b62a5;
    background-image: none;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .row .col-m-1 {
    width: 8.33%;
  }
  .row .col-m-2 {
    width: 16.66%;
  }
  .row .col-m-3 {
    width: 25%;
  }
  .row .col-m-4 {
    width: 33.33%;
  }
  .row .col-m-5 {
    width: 41.66%;
  }
  .row .col-m-6 {
    width: 50%;
  }
  .row .col-m-7 {
    width: 58.33%;
  }
  .row .col-m-8 {
    width: 66.66%;
  }
  .row .col-m-9 {
    width: 75%;
  }
  .row .col-m-10 {
    width: 83.33%;
  }
  .row .col-m-11 {
    width: 91.66%;
  }
  .row .col-m-12 {
    width: 100%;
    text-align: center !important;
  }
  section {
    padding: 8px;
    margin-top: 15px;
  }
  section > div > div {
    display: block;
    clear: both;
  }
  section > div > div > div {
    display: block;
  }
  section > div [class*="col-"] {
    width: 100% !important;
    text-align: center;
  }
}

.btn {
  margin: 5px auto !important;
}

.output {
  line-height: 30px;
}

.output span {
  margin: 0 4px;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}

.overlay.show {
  display: block;
}

.overlay .modal {
  display: none;
  background: #fff;
  min-width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  border-radius: 10px;
  padding: 10px 5px 20px;
}

.overlay .modal.show {
  display: block;
}

.overlay .modal .close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 5px;
  color: #000;
  text-decoration: none;
}

.overlay .modal header {
  font-size: 20px;
  line-height: 30px;
  min-height: 30px;
  font-weight: bold;
  padding: 0 30px;
}

.overlay .modal .content {
  min-height: 30px;
  padding: 5px 30px;
}

.overlay .modal .content table, .overlay .modal .content td, .overlay .modal .content th {
  border: solid 1px #555;
}

.overlay .modal .content .table-wrapper {
  max-height: 500px;
  overflow-y: auto;
}

.overlay .modal .content table {
  overflow-y: auto;
  border-collapse: collapse;
}

.overlay .modal .content table td, .overlay .modal .content table th {
  padding: 5px;
}
/*# sourceMappingURL=style.css.map */